{{ Error "Uh oh, something didn't quite work right 😵" }}

It sucks -- but these things happenQ What's important is that we're committed to
improving this tool! Please consider helping us by submitting an issue to
GitHub through the Issue interface! You can submit an issue through the link
below.

{{ FormatLink "https://github.com/friendly-fhir/fhir/issues/new" }}

Information about the failure can be found below.

{{ FormatStrong "Error Message" }}

{{ with .Error -}}
{{ FormatQuote ( PrefixLines "> " ( FitTerm . ) ) }}
{{- end }}

{{ FormatStrong "Stack Trace" }}

{{ FormatQuote "> ```" }}
{{ range .StackTrace }}
{{- FormatQuote ( PrefixLines "> " . ) }}
{{ end }}
{{- FormatQuote "> ```" }}
