{{ FormatCommand (.CommandPath) }}

{{- if .Runnable }}

{{ FormatHeading "USAGE" }}
{{ Indent 2 (.UseLine) }}
{{- end }}

{{- if .HasExample}}

{{ FormatHeading "EXAMPLES" }}
{{ Indent 2 (.Example) }}
{{- end }}

{{ $suffix := "more information" -}}
{{- if and .HasFlags .HasAvailableSubCommands -}}
  {{- $suffix = "availables flags and subcommands" -}}
{{- else if .HasFlags -}}
  {{- $suffix = "available flags" -}}
{{- else if .HasAvailableSubCommands -}}
  {{- $suffix = "available subcommands" -}}
{{- end -}}
Use {{ FormatCall "%s %s" (.CommandPath) "--help" }} for {{ $suffix }}.
