{{ FormatCommand (.CommandPath) }}

{{ with (or .Long .Short) -}}
{{ . | trimTrailingWhitespaces }}
{{- end }}

{{- if .Runnable }}

{{ FormatHeading "USAGE" }}
{{ Indent 2 (.UseLine) }}
{{- end }}

{{- if .HasExample}}

{{ FormatHeading "EXAMPLES" }}
{{ Indent 2 (.Example) }}
{{- end }}

Use {{ FormatCall "%s %s" (.CommandPath) "--help" }} for more information about this command.
