#ifndef FHIR_{{- .Name | string.Shout -}}_HPP
#define FHIR_{{- .Name | string.Shout -}}_HPP

#pragma once

#include <string_view>

namespace fhir {

{{ with .Short -}}
{{ . | lines.Resize 74 | lines.Prefix "  // " }}
{{- end -}}
{{- with .Description -}}
{{ . | lines.Resize 74 | lines.Prefix "  // " }}
{{- end -}}
{{- with .Comment -}}
{{ . | lines.Resize 74 | lines.Prefix "  // " }}
{{- end }}
  struct {{ .Name | string.Pascal }} {
    // ...
  };
}

#endif // FHIR_META_{{- .Name | string.Shout -}}_HPP
